In [5]:
import pandas as pd
dados = pd.read_csv('C:/Users/Andre/Documents/DidaticaTech/vinho.csv')
dados.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [6]:
from sklearn.preprocessing import LabelEncoder
pi = LabelEncoder()
dados['style'] = pi.fit_transform(dados['style'])

In [7]:
x = dados.drop('style', axis=1)
y = dados['style']
import numpy as np
X = x.values 
Y = y.values.ravel()

In [6]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold as skd
from sklearn.tree import DecisionTreeClassifier as dtc
skfold = skd(n_splits=5)
modelo = dtc()
resultado = cross_val_score(modelo,X,Y,cv=skfold)
print('auracia:', resultado.mean())

auracia: 0.9804523005862498

In [21]:
nomes = ['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar', 'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density', 'pH', 'sulphates','quality',	'style']

In [22]:
import graphviz
from sklearn.tree  import export_graphviz

In [25]:
arquivo = 'C:/Users/Andre/Documents/DidaticaTech/graphviz1.csv'
modelo.fit(X,Y)
export_graphviz(modelo, out_file=arquivo, feature_names = nomes)
with open(arquivo) as aberto:
    grafico_dot = aberto.read()
h = graphviz.Source(grafico_dot)
h.view()

'Source.gv.pdf'

In [12]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import GridSearchCV 
min_split = ([2,5,7,9,10,20,30,40,50,60,45])
max_level = ([3,5,9,10,14,30,34,19,11,17,9,20,])
algoritmo = ['gini','entropy']
valores_grid = {'min_samples_split':min_split,'max_depth':max_level,'criterion':algoritmo}
modelo = DecisionTreeClassifier()
gdt = GridSearchCV(estimator=modelo,param_grid=valores_grid,cv=5)
gdt.fit(X,Y)
print('acuracia',gdt.best_score_)
print("Melhores parâmetros:", gdt.best_params_)

acuracia 0.9826063836086931
Melhores parâmetros: {'criterion': 'entropy', 'max_depth': 5, 'min_samples_split': 10}

teste

In [13]:
import pandas as pd
dados2 = pd.read_csv('C:/Users/Andre/Documents/DidaticaTech/pacientes.csv')
dados2.head()

,pelvic_incidence,pelvic_tilt numeric,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis,class
0,63.027817,22.552586,39.609117,40.475232,98.672917,-0.254400,Abnormal
1,39.056951,10.060991,25.015378,28.995960,114.405425,4.564259,Abnormal
2,68.832021,22.218482,50.092194,46.613539,105.985135,-3.530317,Abnormal
3,69.297008,24.652878,44.311238,44.644130,101.868495,11.211523,Abnormal
4,49.712859,9.652075,28.317406,40.060784,108.168725,7.918501,Abnormal

In [16]:
from sklearn.preprocessing import LabelEncoder
def conversao(df):
    le = LabelEncoder()
    for col in df.select_dtypes(include = ['object']):
        df[col] = le.fit_transform(df[col])
    return df

In [17]:
conversao(dados2)

,pelvic_incidence,pelvic_tilt numeric,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis,class
0,63.027817,22.552586,39.609117,40.475232,98.672917,-0.254400,0
1,39.056951,10.060991,25.015378,28.995960,114.405425,4.564259,0
2,68.832021,22.218482,50.092194,46.613539,105.985135,-3.530317,0
3,69.297008,24.652878,44.311238,44.644130,101.868495,11.211523,0
4,49.712859,9.652075,28.317406,40.060784,108.168725,7.918501,0
...,...,...,...,...,...,...,...
305,47.903565,13.616688,36.000000,34.286877,117.449062,-4.245395,1
306,53.936748,20.721496,29.220534,33.215251,114.365845,-0.421010,1
307,61.446597,22.694968,46.170347,38.751628,125.670725,-2.707880,1
308,45.252792,8.693157,41.583126,36.559635,118.545842,0.214750,1
309,33.841641,5.073991,36.641233,28.767649,123.945244,-0.199249,1

In [19]:
x2 = dados2.drop('class', axis=1)
y2 = dados2['class']
import numpy as np
X2 = x.values 
Y2 = y.values.ravel()

In [21]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import GridSearchCV 
min_split2 = ([2,5,7,9,10,20,30,40,50,60,45])
max_level2 = ([3,5,9,10,14,30,34,19,11,17,9,20,])
algoritmo2 = ['gini','entropy']
valores_grid2 = {'min_samples_split':min_split2,'max_depth':max_level2,'criterion':algoritmo2}
modelo2 = DecisionTreeClassifier()
gdt2 = GridSearchCV(estimator=modelo2,param_grid=valores_grid2,cv=5)
gdt2.fit(X2,Y2)
print('acuracia',gdt2.best_score_)
print("Melhores parâmetros:", gdt2.best_params_)

acuracia 0.9830683958074259
Melhores parâmetros: {'criterion': 'entropy', 'max_depth': 5, 'min_samples_split': 10}